<footer id="footerWrapper" class="footer2">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footerWidget">
                        <h3>© Royal Society of Chemistry 2015</h3>
                        <p>
                            Registered charity number: 207890
                        </p>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="footerWidget">
                        <ul id="rsc-global-footer-link-container">
                
                            <li><a class="fm_link_rsc_001" href="http://www.rsc.org/aboutus/" title="About us" target="_self">
                                About us</a> </li> 
                            <li><a class="fm_link_rsc_001" href="http://www.rsc.org/AboutUs/rscwork/index.asp" title="Working for us" target="_self">
                                Working for us</a> </li>
                            <li><a class="fm_link_rsc_001" href="http://www.rsc.org/AboutUs/News/PressReleases/index.asp" title="Press office" target="_self">Press office</a> </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="footerWidget">
                        <ul id="rsc-global-footer-link-container">
                            
                            <li><a class="fm_link_rsc_001" href="http://www.rsc.org/help/termsconditions.asp" title="Terms of use" target="_self">
                                Terms of use</a> </li>
                            
                            <li><a class="fm_link_rsc_001" href="http://www.rsc.org/help/privacy.asp" title="Privacy &amp; cookies" target="_self">
                                Privacy &amp; cookies</a> </li>
                            
                            <li><a class="fm_link_rsc_001" href="http://www.rsc.org/help/accessibility.asp" title="Accessibility" target="_self">
                                Accessibility</a> </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <div class="footerWidget">
                        <ul id="rsc-global-footer-link-container">
                            
                            <li><a class="fm_link_rsc_001" href="http://www.rsc.org/help/" title="Help" target="_self">
                                Help</a> </li>
                            
                            <li><a class="fm_link_rsc_001" href="http://www.rsc.org/AboutUs/Contacts/index.asp" title="Contact" target="_self">
                                Contact</a> </li>
                            
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footerRights">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <ul class="socialNetwork">
                        <li><a href="http://www.twitter.com/" target="_blank" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
                        <li><a href="https://plus.google.com/" target="_blank" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                    </ul>
                </div>


                <div class="col-md-12">
                    <p>Copyright © 2014 <a href="https://www.rsc.org" target="blank">RSC</a> / All rights reserved.</p>
                </div>

            </div>
        </div>
    </section>
</footer>