header.navbar-fixed-top,
body {
    background: url(/images/logo/header-bg.jpg);
    background-repeat: repeat-x;
    background-position: top center;
}
#mainHeader {
    background:transparent!important;
    box-shadow:none!important;
    border-bottom:none!important;
}
.rating-holder img
{
    width: 24px;
}

.review-holder
{
    margin-bottom: 20px;
}

.review-holder .rating-holder
{
    margin-bottom: 10px;
}

.review-holder h4.media-heading
{
    font-weight: 400;
}

.review-holder .review .media-left a
{
    height:100px;
    width:100px;
    display:block;
    border-radius:50%;
    overflow:hidden;
}

.review-holder .review .media-left img
{
    width:100px;
    border-radius:50%;
    height:auto;
}
#preHeader {
    background:#333;
}
#preHeader {
    background:#333;
}

#front-parallax
{
    background-image: url('../images/front/parallax.jpg');
}

#videoBg
{
    height: auto;
}

.minimalBox img
{
    border-radius: 8px;
}

.site-title
{
    padding-top: 20px;
}

#globalWrapper.catalog .page-header a
{
    color: white;
}

#globalWrapper.guide .page-header a
{
    color: white;
}

#globalWrapper.guide .paralaxText a
{
    font-weight: 400;
    color: white;
}